<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664394165059-2nc7rcufetvsnpfgj5jtc1na4e6uvfjp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664394165059-2nc7rcufetvsnpfgj5jtc1na4e6uvfjp</string>
	<key>API_KEY</key>
	<string>AIzaSyBBOpvELMPGf3YDegFrLReoWejzhxBdygQ</string>
	<key>GCM_SENDER_ID</key>
	<string>664394165059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joao.CalculatorNotes</string>
	<key>PROJECT_ID</key>
	<string>calculator-notes-secret</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator-notes-secret.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664394165059:ios:54cbb336abf1a161995df6</string>
	<key>DATABASE_URL</key>
	<string>https://calculator-notes-secret.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8858389345934911~5648494185</string>
</dict>
</plist>